body{
    background: #0A090C;
    font-family: 'Montserrat', sans-serif;


}
.wrapper{
    width: 800px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
}
h1, h3{
    color: #F0EDEE;
}
input{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: transparent;
    box-sizing: border-box;
    color: #F06543;
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
span{
    color: #F06543;
    font-size: 40px;
}
a{
    background: #F06543;
    padding: 15px 30px;
    color: #F0EDEE;
    font-size: 25px;
    text-decoration: none;

}
a:hover{
    background: #b74d33;
}
#a1{
    border: none;
    border-bottom: 10px solid #F0EDEE;
    border-right: 10px solid #F0EDEE;
    position: relative;
    left: 5px;

}
#a2{
    border: none;
}
#a3 {
    border: none;
    border-bottom: 10px solid #F0EDEE;
    border-left: 10px solid #F0EDEE;
    position: relative;
    left: -5px;
}

#b1{
    border: none;
}

#b2{
    border: none;
    outline: 10px solid #F0EDEE;
}
#b3{
    border: none;


}

#c1{
    border: none;
    border-top: 10px solid #F0EDEE;
    border-right: 10px solid #F0EDEE;
    position: relative;
    left: 5px;

}
#c2{
    border: none;
}
#c3 {
    border: none;
    border-top: 10px solid #F0EDEE;
    border-left: 10px solid #F0EDEE;
    position: relative;
    left: -5px;
}